.search-container {
    width:100%;
    max-width: 1300px;
    padding: 0 30px;
    margin: 32px auto;
}

.search-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container header img {
    height: 100px;
    margin-left: 40%;
}

.search-container .search-input{
    display: flex;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
}

.search-container .back-link {
    width: fit-content;
}

.search-container .button {
    height: auto;
    width: 50%;
    padding: 6px;
    line-height: 30px;
    border-radius: 35px;
    font-size: 20px;
    text-align: center;
    margin-left: 25%;
}

.search-container p {
    font-size: 15px;
    text-align: center;
}