  .listRec-container {
    width:100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.listRec-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listRec-container header img {
    height: 100px;
    margin-left: 40%;
}

.listRec-container .button {
    height: 60px;
    width: 50%;
    padding: 15px;
    line-height: 30px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    margin-left: 25%;
}

.listRec-container .search-input{
    display:flex;
    margin: 10px 0;
    height: 40px;
    width: 70%;
    border-radius: 8px;
    border:1px solid #adc4cc;
    font-style: italic;
    padding: 0 10px;
}