.product-container {
    width:100%;
    max-width: 900px;
    padding: 0 20px;
    border: 1px solid #dcdce6;
    margin: 25px auto;
}

/* logo  */
.product-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-container header img {
    margin-left: 50%;
    height:50px;
}

/* barra com nome do produto e link voltar para os produtos */
.product-container .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.product-container .title-paper {
    background: #FFB6C1 ;
    border-radius: 25px;
    padding: 5px;
    width: 50%;
    height: auto;
    font-size: 15px;
    text-align: center;
}

.product-container .back-link {
    height: auto;
    margin: 0 5px 0;
}

.product-container .product-info {
    display: flex;
}
.product-container .product-info img{
    height:auto;
    margin-right: 2%;
    align-self: center;
}

.product-container .product-info-paper {
    background: #FFF;
    border-radius: 8px;
    padding: 1%;
    width: auto;
    height: auto;
    font-size: 15px;
    margin-block-end: 3%;
    align-self: center;
    text-align: justify;
}

.product-container .side-by-side {
    display: flex;    
    justify-content: space-between;
    width:100%;
    max-width: 900px;
    align-items: center;
    padding: 0 60px;
}

.product-container .side-by-side .info-nutri-paper {
    background: #ffff66;
    border-radius: 8px;
    height: auto;
    padding: 1%;
    width: 40%;
    font-size: 13px;
    margin-block-end: 3%;
}

.product-container .side-by-side .info-nutri-paper strong {
    font-size: 15px;
    text-align: center;
}


.product-container .side-by-side .expansion-panel {
    background-color: #fff;
    width: 50%;
    height: auto;
    padding: 0px;
    font-size: 13px;
}

.product-container .side-by-side .expansion-panel .panel-content {
    font-size: 13px;
}

.product-container .curiosity{
    background: #fff;
    border-radius: 8px;
    height: auto;
    padding: 2%;
    width: 100%;
    font-size: 15px;
}