.admin-content {
    width:100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.admin-content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-content header img {
    height: 100px;
}

.admin-content header span {
    margin: 64px 0 32px;
    font-size: 25px;
    justify-content: center;
}

.admin-content header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: "#fff";
    margin-left: 16px;
    transition: border-color 0.2s;
}

.admin-content .button{
    width: 100px,
}

