.menu-container {
    width:100%;
    max-width: 1500px;
    height: 100vh;
    margin: 0 auto;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container .logo img {
    height: 100px;
    margin-left: 40%;
}

/* enquadra os botões do menu */
.menu-container .buttons {
    align-content: center;
}

/* formato dos botões */
.menu-container .buttons .button{
    height: auto;
    width: 50%;
    padding: 6px;
    line-height: 30px;
    border-radius: 35px;
    font-size: 20px;
    text-align: center;
    margin-left: 25%;
}

.menu-container .content {
    display: inline-block;
}

.menu-container .content .back-link{
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    height: 10px;
    width: 25%;
    margin-left: 150px;

}

.menu-container .content .button {
    height: auto;
    width: 25%;
    padding: 6px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 8px;
}